// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index,show
.reservation-container{
    display:flex;
    flex-wrap:wrap;
    box-shadow: 0px 1px 3px 0px;
    margin-bottom: 1rem;
}
.reservation-img {
    width:40%;
    height:250px;
}
.reservation-img img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.reservations{
    padding:30px;
    display:flex;
    margin-left:50px;
}
.reservation-text{
      color:#666;
      padding:5px;
}
.reservation-text th{
    color:black;
    padding: 2px 15px;
}
.table{
    font-size:20px;
}
.reservation-name{
    color:black;
    font-size:20px;
}
.reservation-introduction{
    font-size:18px;
}
.reservation-edit {
     text-align:center;
}
.reservation-link{
    margin:auto 0 auto 50px;
}
.reservation-link p{
    margin-top:10px;
}
.reservation-box table{
  
   margin-top:30px;
}
.reservation-box{
    width:50%;
}
